/* ==================== Login/Register Page Styles ==================== */

body.login-page {
    background: url('https://images.unsplash.com/photo-1560185127-6ed189bf02f4?auto=format&fit=crop&w=1650&q=80') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.login-container {
    background-image :-webkit-linear-gradient(left,rgb(255, 255, 255),rgb(255, 255, 255));
    padding: 40px;
    border-radius: 10px;
    box-shadow:  0 8px 20px rgb(0, 0, 255);
    width: 350px;
    max-width: 90%;
}

.logo-header {
    text-align: center;
    margin-bottom: 5px;
}

.logo-header h1 {
    color: #00326c;
    margin-bottom: 5px;
}

.logo-header p {
    color: #4649f05e;
    font-size: 5px;
    font-style: italic;
}

.form-section {
    display: none;
    flex-direction: column;
}

.form-section.active {
    display: flex;
}

.form-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0a2c52;
}

.form-section input {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-section input:focus {
    border-color: #0a2c52;
    outline: none;
}

.form-section button {
    padding: 12px;
    border: none;
    background: #0a2c52;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.form-section button:hover {
    background: #ffcc00;
    color: black;
}

.form-section p {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.form-section p span {
    color: #0078ff;
    cursor: pointer;
    text-decoration: underline;
}

.form-section p span:hover {
    color: #0a2c52;
}